.services-section {
  background-color: white;
  padding-top: 50px;
  margin-bottom: -5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.services-section h1 {
  font-family: "Alex Brush", cursive;
  font-size: 50px;
  margin-top: 1px;
  margin-bottom: 10px;
  color: #115740;
}

.services-section p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #5d473a;
}

.number-container {
  position: relative;
}

.service {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px);
  margin-top: 20px;
  position: relative;
  margin-bottom: -50px;
}

.service h2 {
  font-family: "Roboto Slab";
  /* position: absolute; */
  font-size: 80px;
  /* margin: -30px; */
  opacity: 0.2;
  color: #115740;
}

.service h3 {
  font-family: "Alex Brush", cursive;
  font-size: 25px;
  position: absolute;
  color: #115740;
  top: 40%;
  left: 0;
}

.service p {
  min-height: 150px;
  margin-top: -10%;
}

.service img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.irrigation-systems-service {
  position: relative;
  padding-top: 20%;
  z-index: 3;
}

.irrigation-systems-service img {
  border-radius: 5px;
}

.off-set-img {
  border-radius: 5px;
}

.landscape-construction-service {
  position: relative;
  width: 100%;
}

.landscape-construction-service img {
  height: 100%;
  width: 100%;
  z-index: 1;
  margin-top: -40px;
}
