.services-section {
  background-color: white;
  margin-bottom: -5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-container {
  grid-template-columns: 1fr 3fr;
}

.services-section h1 {
  display: flex;
  justify-content: center;
  font-family: "Alex Brush", cursive;
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 50px;
  color: #115740;
}

.services-section p {
  padding: 0px 25px 0px 25px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #5d473a;
}

.number-container {
  position: relative;
}

.service {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
  margin-bottom: -50px;
}

.service h2 {
  font-family: "Roboto Slab";
  /* position: absolute; */
  font-size: 80px;
  /* margin: -30px; */
  opacity: 0.2;
  color: #115740;
  padding: 0px 15px;
}

.service h3 {
  font-family: "Alex Brush", cursive;
  font-size: 20px;
  position: absolute;
  color: #115740;
  top: 40%;
  left: 0;
  padding: 0px 15px;
}

.service p {
  min-height: 150px;
  margin-top: -10%;
}

.service img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.irrigation-systems-service {
  position: relative;
  padding-top: 5%;
  z-index: 3;
}

.irrigation-systems-service img {
  border-radius: 5px;
}

.off-set-img {
  border-radius: 5px;
}

.number-3 {
  margin-bottom: 50px;
}

.landscape-construction-service img {
  display: none;
}

@media only screen and (min-width: 700px) {
  .container {
    display: flex;
  }

  .service {
    width: calc(33.33% - 20px);
  }

  .service p {
    margin-top: 15px;
  }

  .landscape-construction-service img {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .number-3 {
    margin: 0px;
  }
}
