.hero-section {
  position: relative;
  text-align: center;
}

.hero-section img {
  width: 100%;
  height: auto;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background-color: #115740;
  opacity: 0.6;
}
.hero-content {
  position: absolute;
  top: 35%;
  left: 10%;
  color: #f4e4c3;
}

.hero-content h1 {
  font-family: "Alex Brush", cursive;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: left;
}

@media only screen and (max-width: 320px) {
  .hero-section img {
    width: 360px;
    height: auto;
  }
  .hero-section::before {
    width: 360px;
    height: 98.5%;
  }

  .hero-content {
    top: 25%;
    left: 5%;
    margin-top: 40px;
  }

  .hero-content h1 {
    font-size: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .hero-section img {
    width: 375px;
    height: auto;
  }
  .hero-section::before {
    width: 375px;
    height: 98.5%;
  }

  .hero-content {
    top: 25%;
    left: 5%;
    margin-top: 40px;
  }

  .hero-content h1 {
    font-size: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .hero-section img {
    width: 425px;
    height: auto;
  }
  .hero-section::before {
    width: 425px;
    height: 98.5%;
  }

  .hero-content {
    top: 25%;
    left: 5%;
    margin-top: 40px;
  }

  .hero-content h1 {
    font-size: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section img {
    width: 768px;
    height: auto;
  }
  .hero-section::before {
    width: 768px;
    height: 99.2%;
  }

  .hero-content {
    top: 25%;
    left: 5%;
    margin-top: 40px;
  }

  .hero-content h1 {
    font-size: 40px;
    text-align: center;
  }
}
