.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(17, 87, 64, 0.7);
  height: 60px;
  width: 100%;
  z-index: 10000;
}

.logo img {
  width: 60px;
  margin-right: 10px;
  padding: 10px;
}

.logo span {
  font-weight: bold;
}

.nav-links-container {
  display: flex;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.nav-links li {
  font-family: "Alex Brush", cursive;
  font-size: 20px;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.contact-btn {
  font-family: "Alex Brush", cursive;
  padding: 10px 20px;
  background-color: #f4a261;
  color: #f4e4c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
    height: 60px;
  }

  .logo img {
    width: 50px;
    margin-right: 5px;
  }

  .nav-links li {
    font-size: 14px;
    margin-right: 10px;
  }

  .contact-btn {
    padding: 8px 10px;
    font-size: 14px;
  }
}
