.footer {
  display: flex;
  align-items: center;
  background-color: #115740;
  width: 100%;
  height: 60px;
  overflow: hidden;
  z-index: 3;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.company-name {
  font-family: "Alex Brush", cursive;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  padding-left: 10px;
  color: #fff;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.icon {
  width: 40px;
}

/* @media only screen and (min-width: 700px) {
  .footer-contact {
    margin-right: 0;
  }
} */
